<h1>Game#restart</h1>
<p>restart the game</p>

<button><%= link_to('Back to intro to game ',:action => 'start') %></button>
<button><%= link_to('Close the game',:action => 'close') %></button>
<button><%= link_to('<<Home ',users_path) %></button>