<h1>Game#start</h1>
<p>Start the game</p>

<button><%= link_to('Re-Start the game',:action => 'restart') %></button>

<button><%= link_to('Close the game',:action => 'close') %></button>

<button><%= link_to('<<Home ',users_path) %></button>