 <table>
    <tr>
    <th>First name</th>
    <td><%= f.text_field(:first_name) %></td>
    </tr>
     <tr>
    <th>last name</th>
    <td><%= f.text_field(:last_name) %></td>
    </tr>
     <tr>
    <th>Email</th>
    <td> <%= f.text_field(:email) %></td>
    </tr>
</table>